<app-page-header> </app-page-header>

<body>

<section class="section">
    <h1> API Overview </h1>
    <p>
        API is the acronym for <span class='bold'>Application Programming Interface,</span>  which is a remote server that our Javascript code can communicate with to usually pull in data from the database. Once the browser sends a request to the server, unless the internet is not functional, the response will always come back from the server. An API allows a user to sort through data in the most efficient way possible, as well as updating, adding, and deleting data, this makes it simple to pull only the information that we requested onto the webpage.
    </p>
    <!-- add an image & make mobile responsive -->
</section>
<div class="divider"> </div>
<section class="section">
    <h2>How We Use APIs Everyday</h2>
        <p>Summary <!--UPDATE KaylaT--> </p>
        <div>
        <ul> 
            <li> <!--Example 1 --> </li> 
            <li><!--Insert image tag with example--></li> 
            <li> <!--Example 2 --> </li> 
            <li> <!--Insert image tag --> </li>
        </ul> 
    </div>
</section>
<div class="divider"> </div>
<section class="section">
    <h2> Identifying Good APIs </h2>
    <p>
        APIs are the first way developers access and interact with your products. A good API will enhance the user's experience, providing complete, accurate, and easy to read documentation. Another good quality of an API is great error handling, it is important that an application provides the specific error code and human readable message in order to provide as much help to the developer so they can fix the issue. Lastly, a great API is one that can be equally gentle with students in this program while empowering experienced users. Check out the API database on the homepage to find a great API for your next project!
    </p>
    <!-- add example of a amazing API -->
</section>
<div class="divider"> </div>
<section class="section">
    <h2> Types of API’s </h2>
    <p>
        There are four basic types of APIs:
    </p>
    <div>
         <ul> <!--Add updated definition from doc -->
            <li><span class='bold'>Private APIs</span> are published internally for use by developers to improve its products and services. Private APIs are not exposed to third parties. </li>
            <li><span class='bold'>Public APIs</span> are published publicly and can be used by any third party. There are no restrictions on these APIs.</li>
            <li><span class='bold'>Partner APIs</span> can only be used by specific parties with whom the owner agrees to share data. Partner APIs are used within business relationships, often to integrate software between partnering companies. </li>
            <li><span class='bold'>Composite APIs</span> combine multiple APIs to address related or interdependent tasks, and often improve speed and performance compared with individual APIs.</li>
        </ul>
    </div>
</section>
<div class="divider"> </div>
<section class="section">
    <h2> API Examples  </h2>
     <p> Summary <!--UPDATE KaylaT--> </p>
     <div>
        <ul> 
            <li> <!--Example 1 --> </li> 
            <li><!--Insert image tag with example--></li> 
            <li> <!--Example 2 --> </li> 
            <li> <!--Insert image tag --> </li>
        </ul>
    </div>
</section>
<div class="divider"> </div>
<section class="section">
    <h2> Important Things to Remember </h2>
     <p> Summary <!--UPDATE KaylaT--> </p>
     <div>
        <ul> 
            <li> <!--Example 1 --> </li> 
            <li><!--Insert image tag with example--></li> 
            <li> <!--Example 2 --> </li> 
            <li> <!--Insert image tag for example--> </li>
            <!-- 6 example Max-->
        </ul>
    </div>
</section>
<button> </button>
<div class="divider"> </div>
<section class="bottom">
    <h2> Checkout These Videos To Learn More </h2>
     <p> Summary <!--UPDATE KaylaT--> </p>
     <div>
        <ul> 
            <li> <!--Example 1 --> </li> 
            <li><!--Insert image tag with example--></li> 
            <li> <!--Example 2 --> </li> 
            <li><!--Insert image tag with example--></li>
        </ul>
    </div>
</section>
</body>

