*{
    margin: 0;
    padding: 0;
}

footer{
  background-color: #f2f2f2;
  border-top: #ff5c0f 15px ridge;
  font-family: Sans-Serif;
  width: 100%;
  height: 45px;
  display: flex;
}

#message {
  width: 100%;
  text-align: right;
  font-size: 9px;
  padding-right: 1em;
}

#greeting {
  width: 100%;
  font-size: 9px;
  padding-left: 2px;
}

#grantchirpus {
  margin-left: 2px;
}