*{
    margin: 0;
}

footer{
  background-color: #f2f2f2;
  border-top: #ff5c0f 15px ridge;
  font-family: Sans-Serif;
  height: 45px;
  width: 100vw;
  position: fixed;
  bottom: 0%;
}

/* #message {
  width: 100%;
  text-align: right;
  font-size: 9px;
  padding-right: 1em;
}

#greeting {
  width: 100%;
  font-size: 9px;
  padding-left: 2px;
}

#grantchirpus {
  height: 60px;
  margin-left: 2px;
} */