<app-page-header> </app-page-header>
<html> 
<body>

   <!-- <a><button class="fa-fa-search" id="search-button" routerLink="/results">search</button></a>
   <input id='input-field' type="text" placeholder="Search Here" aria-label="Apis" button class="fa-fa-search"
     id="search-button" routerLink="/results"> -->
    <h1>Build Amazing Things With APIs</h1>
     
  <div id="h4-style">
  <h4>Learn about APIs today...</h4> 
  <h4>Build great websites tomorrow!</h4>
  </div>
 

<div class="button">
    <button class="misc-buttons" id="about-button" routerLink="/about">About</button>
    <button class="misc-buttons" onclick="parent.open(`https://cloud---api.herokuapp.com/api-docs`)">Get Started</button>

</div>
<app-filter></app-filter>
</body>

<app-page-footer></app-page-footer>


